
/* css sheet */
html {
    min-height: 100%;
    margin: 0;
}
body {
    min-height: 100%;
    margin: 0;
}

header {
  background-color: black;
  color: white;
  position: fixed;
  text-align: center;
  top: 0px;
  width: 100%;
  z-index: 10;
  font-family: 'Montserrat', sans-serif;
}

body {
  margin-left: auto;
  margin-right: auto;
  margin-top: 120px;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;
  text-align: center;
}

p {
  margin: 10px;
}

h1 {
    font-size: 26px;
}

h2 {
  margin-left: 20px;
}

h3 {
  width: 100%;
  margin: 0 auto;
  padding-left: 0px;
  text-align: left;
}

video {
  margin: 20px;
}

ul {
  list-style-type: none;
  margin: 0px;
  padding-inline-start: 0px;
}

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

footer {
  margin-top: auto;
  background-color: black;
  padding: 0px;
  color: white;
  text-align: center;
  width: 100%;
}
